<div>
  <div class="cor">
    <app-corouselcomponent></app-corouselcomponent>
  </div>
  <div>
    <div class="d-flex mt-4">
      <div class="new">
        <app-cardcomponent [image]="'../assets/img/Keyboard.webp'"></app-cardcomponent>
      </div>
      <div class="new">
        <app-cardcomponent [image]="'../assets/img/Laptop.webp'"></app-cardcomponent>
      </div>
      <div class="new">
        <app-cardcomponent [image]="'../assets/img/Mouse.webp'"></app-cardcomponent>
      </div>
      <div class="new">
        <app-cardcomponent [image]="'../assets/img/Earbuds.webp'"></app-cardcomponent>
      </div>
    </div>
  </div>
  
</div>
